<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--Nombre en la pestaña del navegador-->
    <title>Pegasus - @ViewData["Title"]</title>

    <!--Fuentes para la plantilla padre-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet">
    <link href="~/vendor/sweetalert/sweetalert.css" rel="stylesheet">
     @await RenderSectionAsync("Estilos", required: false)
</head>
<body id="page-top">
    <!-- Barra Lateral -->
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <div class="sidebar-brand-icon">
                    <img width="64" height="64" src="https://firebasestorage.googleapis.com/v0/b/ventapi2.appspot.com/o/IMAGENES_USUARIO%2Fcbff98e9b89b4acbbf21f0e0b148598a.png?alt=media&token=570feec7-6a7b-4ac0-a869-877b55ad488e" alt="freaky-horse" />
                </div>
                <div class="sidebar-brand-text mx-3">Store</div>
            </a>
            <!-- Divide a los botones y el llamado de los botones -->
            <hr class="sidebar-divider my-0">
            @await Component.InvokeAsync("Menu")
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- Contenido Principal -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Barra Superior -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Boton de Usuario -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        @await Component.InvokeAsync("MenuUsuario")
                    </ul>
                </nav>
                <!-- Contenido Hijo -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <!-- Barra de Abajo del Contenido Principal -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Llamado a archivos Externos -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.js"></script>
    <script src="~/vendor/loadingoverlay/loadingoverlay.min.js"></script>
     @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

